<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}FiBot - Enlighten Your Investment Strategy{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <section class="section">
    <div class="container mb-5">
      <div class="is-flex is-justify-content-space-between is-align-items-center">
        <h1 class="title mb-0">
          {% block name %}Welcome to FiBot{% endblock %}
        </h1>

        <!-- Home Icon -->
        <div class="icon-home">
          <a href="{{ url_for('index') }}" title="Go to Home">
            <span class="icon">
              <i class="bx bx-home bx-md"></i>
            </span>
          </a>
        </div>
      </div>
      <p class="subtitle">
        {% block subtitle %}Convert company names to stock tickers and access detailed financial insights{% endblock %}
      </p>
    </div>

    <!-- Content Section -->
    <div class="container" id="content">
      {% block content %}{% endblock %}
    </div>
  </section>
</body>

</html>