{% extends "base.html" %}

{% block title %}FiBot - Ticker Details{% endblock %}

{% block ticker_tab_class %}is-active{% endblock %}

{% block content %}
<!-- Search Section -->
<div class="box">
    <form method="POST">
        <div class="field is-grouped mb-4">
            <p class="control is-expanded">
                <input class="input" type="text" name="ticker_name" placeholder="Enter a ticker ..." required>
            </p>
            <p class="control">
                <button class="button is-info" type="submit" name="submit_ticker">Submit</button>
            </p>
        </div>
    </form>

    {% if stock_info %}
    <!-- Ticker Information -->
    <div class="box is-5">
        <h2 class="title is-4">{{ stock_info['Name'] }} ({{ stock_info['Symbol'] }})</h2>
        <p class="subtitle">{{ stock_info['Exchange'] }} - {{ stock_info['Currency'] }}</p>
    </div>

    <!-- Stock Summary -->
    <div class="box summary">
        <h2 class="title is-5">
            <span class="icon">
                <i class="bx bx-pencil"></i>
            </span>
            SUMMARY
        </h2>
        <div class="columns">
            <div class="column">
                <p><strong>Sector:</strong> {{ stock_info['Sector'] }}</p>
                <p><strong>Industry:</strong> {{ stock_info['Industry'] }}</p>
            </div>
            <div class="column">
                <p><strong>Current Price:</strong> {{ stock_info['Current Price'] }}</p>
                <p><strong>Beta:</strong> {{ stock_info['Beta'] }}</p>
            </div>
            <div class="column">
                <p><strong>Day Range:</strong> {{ stock_info['Low'] }} - {{ stock_info['High'] }}</p>
                <p><strong>Previous Close:</strong> {{ stock_info['Close'] }}</p>
            </div>
        </div>
        <p>{{ stock_info['Business Summary'] }}</p>
    </div>

    <!-- News Section -->
    <div class="box news">
        <h2 class="title is-5">
            <span class="icon">
                <i class="bx bx-news"></i>
            </span>
            News
        </h2>
        <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for index, row in latest_news.iterrows() %}
                <tr>
                    <td>{{ row['Date'] }}</td>
                    <td>{{ row['Author'] }}</td>
                    <td>{{ row['Title'] }}</td>
                    <td><a href="{{ row['Href'] }}" target="_blank">Read more</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}